<nav>
    <a href="/">
        <span class="material-icons-outlined">dashboard</span>
        Dasbor
    </a>
    <a href="/">
        <span class="material-icons-outlined">fact_check</span>
        Monitoring Pengajuan Cuti
    </a>
    <a href="/">
        <span class="material-icons-outlined">badge</span>
        Informasi Karyawan
    </a>
    <a href="/">
        <span class="material-icons-outlined">note_add</span>
        Master Karyawan
    </a>
    <a href="/">
        <span class="material-icons-outlined">summarize</span>
        Laporan Cuti Karyawan
    </a>
</nav>