<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dasbor</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
          rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div id="tengah">
        <div th:replace="fragments/navbar :: nav"></div>
        <main>
            <h1>Hallo</h1>
        </main>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>